<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Pataconesenlinea</title>
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,600;0,700;1,400&display=swap"
        rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,300;0,700;1,400&display=swap"
        rel="stylesheet">
    <link rel="stylesheet" href="/css/products_portal.css">
    <link rel="stylesheet" href="/css/global.css">
    <link rel="stylesheet" href="/css/productshbs.css">
</head>

<body>
    <header>
        <div class="barra">
            <nav class="container">
                <a href="/"><img src="/img/Logo.png" alt="Logotipo Pataconesonline.cl" class="logo"></a>
                <ul>
                    <li><a href="/" class="back">Volver</a></li>
                </ul>
                <a href="/cart"><img src="/img/Cart.svg" alt="Carrito" class="cart-i"></a>
            </nav>
        </div>
    </header>

    <main class="container section">

        <h2>Productos</h2>
        <p class="products-p">Precio al mayor aplica desde la cantidad de 6 productos</p>

        {{#if products}}
        <div class="catalog">
            {{#each products}}
            <div class="product" id="{{@key}}">
                <div class="product-img">
                    <img src="{{url200}}" alt="{{title}}">
                </div>
                <div class="product-info">
                    <h4>{{title}}</h4>
                    <p class="desc">{{desc}}</p>
                    <p class="price">
                        Detal:
                        <span id="{{@key}}-detail" data-value="{{detailPrice}}">{{detailPrice}}</span> CLP  
                    </p>
                    <p class="price">
                        Mayor:
                         <span id="{{@key}}-big" data-value="{{bigPrice}}">{{bigPrice}}</span> CLP
                    </p>
                    <button class="button" data-id="{{@key}}">Añadir al carrito</button>
                </div>
            </div>
            {{/each}}
        </div>
        {{else}}
        <p class="no-products">No se han encontrado productos</p>
        {{/if}}

    </main>
    <footer>
        <div class="logo-footer">
            <img src="/img/Logo-Footer.png" alt="Logotipo">
        </div>
        <div class="social-media">
            <p>Contáctanos +56 954351213</p>
            <img src="/img/IG.svg" alt="Instagram">
            <p>@pataconesenlinea.cl</p>
        </div>
        <p class="copy">pataconesenlinea.cl ® Todos los derechos reservados</p>
    </footer>

    {{!-- Portal --}}
    <div class="portal" id="portal">
        <div class="portal_box">
            <div class="portal_product">
                <div class="portal_product_info">
                    <div class="product_img">
                        <img src="https://firebasestorage.googleapis.com/v0/b/jgp-admin.appspot.com/o/products%2F20200525_230640_200x200.jpg?alt=media&token=acecedd0-a7c6-4a3b-bbb0-3fff93f9c3a3"
                            alt="" id="portalImage">
                    </div>

                    <div class="portal_desc">
                        <h4 id="portalTitle">Patacon crudo</h4>
                        <p class="desc" id="portalDesc">
                            10 tapas de patacón verder 16cm aprox
                        </p>
                        <input type="text" id="productCant" value="1" placeholder="Ingrese cantidad..." />
                        <span class="total" id="portalTotal">0 CLP</span>
                    </div>
                </div>
                <div class="portal_buttons">
                    <button class="button" id="portalAccept">Añadir</button>
                    <button class="button" id="portalClose">Cancelar</button>
                </div>
            </div>
        </div>
    </div>
    {{!-- Portal --}}

    <script src="/scripts/products.js"></script>
    <script src="/scripts/portal.js"></script>
</body>

</html>